@use '../../../../styles.scss' as *;

/* ===============================
   TASK DIALOG OVERLAY & CARD
================================ */

.dialog-overlay {
  position: fixed;
  inset: 0;
  z-index: 3;

  background: rgba(0, 0, 0, 0.3);

  @include dFlex($jc: center, $ai: center);
}

.dialog {
  @include dFlex($fd: column, $ai: stretch, $g: 24px);
  position: relative;

  width: 95%;
  max-width: 520px;
  max-height: 95vh;

  background: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
  border-radius: 30px;
  padding: 50px 40px;

  overflow: auto;
}

/* ===============================
   CONTENT
================================ */

header {
  @include dFlex($jc: space-between);

  // border: 2px solid red;
}

.badge {
  display: inline-block;
  border-radius: 8px;
  padding: 8px 20px;
  color: white;
  font-size: 23px;
  font-weight: 400;
  // line-height: 1.2;

  &--user-story {
    background-color: $color-board-user-story;
  }

  &--tech-task {
    background-color: $color-board-tech-task;
  }
}

.close-btn {
  @include dFlex();
  height: 32px;
  width: 32px;
  background: none;
  border: unset;
  padding: 0;
  cursor: pointer;
}

.title {
  font-size: $h1;
  font-weight: 700;
  line-height: 1.2;

  // border: 2px solid red;
}

.description {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;

  // border: 2px solid red;
}

.date-prio-wrapper {
  border-collapse: collapse;
  border-spacing: 0;
  // border: 2px solid red;

  .label {
    width: 25%;
    color: $color-brand-primary;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    white-space: nowrap;
  }

  .value {
    width: 75%;
    color: black;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;

    &--priority {
      display: inline-flex;
      align-items: center;
      gap: 10px;

      .priority-icon {
        display: block;
        width: 17px;
      }

      .priority-text {
        white-space: nowrap;
      }
    }
  }

  tr:first-child td {
    padding-bottom: 20px;
  }
}

.label {
  // doppelt?
  color: $color-brand-primary;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  white-space: nowrap;
}

.assignment {
  @include dFlex($fd: column, $ai: flex-start, $g: 4px);
  // border: 2px solid red;
}

.assignment .label {
  white-space: nowrap;
}

.assignment .name {
  font-size: 19px;
  font-weight: 400;
  line-height: 1.2;
  vertical-align: middle;
}

.circle {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid #fff;

  @include dFlex();
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  flex-shrink: 0;
}

.assigned {
  @include dFlex($fd: column, $ai: flex-start, $g: 4px);
}

.assigned-item {
  @include dFlex($jc: flex-start, $g: 16px);
  padding: 7px 16px;
}

.value--muted {
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 4px;
}

.subtask {
  @include dFlex($jc: flex-start, $g: 16px);
  width: fit-content;
  padding: 2px 16px;
  border-radius: 10px;

  &:hover {
    background-color: $color-neutral-user-bg;
  }
}

.subtask__check {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.subtask__icon {
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;

  content: url('../../../../../public/img/icons/checkbox-todo.svg');
}

.subtask:hover .subtask__icon {
  background-color: $color-neutral-light;
}

.subtask__check:checked + .subtask__icon {
  content: url('../../../../../public/img/icons/checkbox-done.svg');
}

.subtask__title {
  font-size: 16px;
  line-height: 1.2;
}

.actions {
  @include dFlex($jc: flex-end, $g: 8px);
  // border: 2px solid red;
}

.seperator {
  width: 0px;
  height: 24px;
  border: 1px solid $color-neutral-light;
}

.action-btn {
  @include dFlex();
  background-color: transparent;
  border: none;
  cursor: pointer;

  img {
    width: 24px;
    height: 24px;
  }

  span {
    color: $color-brand-primary;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
  }

  &:hover span {
    color: $color-brand-highlight;
    font-weight: 700;
  }

  &--delete:hover img {
    content: url('../../../../../public/img/icons/delete-blue.svg');
  }

  &--edit:hover img {
    content: url('../../../../../public/img/icons/edit-blue.svg');
  }
}
