@use '../../../styles.scss' as *;

/* ===============================
   Legal Notice Layout
================================ */

.legal-notice-container {
  @include dFlex($fd: column, $jc: flex-start, $ai: flex-start);
  width: 100%;
  max-width: 1208px;
  min-height: calc(100vh - 96px);
  padding: 0 56px;
}

.legal-notice-header {
  @include dFlex($jc: space-between);
  width: 100%;
  padding: 64px 0 30px;

  img {
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: none; 
  }
}

.legal-notice-content {
  width: 100%;
  padding-bottom: 80px;

  h2,
  h3 {
    font-family: 'Inter-Bold';
    font-weight: 700;
    line-height: 1.2;
  }

  h2 {
    font-size: 27px;
    margin-bottom: 16px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 24px;
  }

  ul {
    margin-bottom: 16px;
    padding-left: 20px;
  }

  a {
    color: black;
    text-decoration: none;

    &:hover {
      color: $color-brand-highlight;
    }
  }

  .highlight {
    color: $color-brand-highlight;
  }
}

/* ===============================
   Responsive: Mobile
================================ */

@media (max-width: 768px) {
  .legal-notice-container {
    padding: 0 16px;
  }

  .legal-notice-header {
    padding: 48px 0 28px;

    img {
      display: block;
    }
  }

  h1 {
    font-size: 47px;
  }
}

/* ===============================
   Responsive: Small Phones
================================ */

@media (max-width: 370px) {
  h1 {
    font-size: 38px;
  }
}
