@use '../../../styles.scss' as *;

/* ===============================
   Privacy Policy Layout
================================ */

.privacy-policy-container {
  @include dFlex($fd: column, $jc: flex-start, $ai: flex-start);
  padding: 0 56px;
  min-height: calc(100vh - 96px);
  width: 100%;
  max-width: 1208px;
}

.privacy-policy-header {
  @include dFlex($jc: space-between);
  width: 100%;
  padding: 64px 0 30px;

  img {
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: none;
  }
}

.privacy-policy-content {
  width: 100%;
  padding-bottom: 80px;

  h2 {
    font-family: 'Inter-Bold';
    font-size: 27px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 16px;
  }

  h3 {
    font-family: 'Inter-Bold';
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 8px;
  }

  p {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 24px;
  }

  a {
    color: black;
    text-decoration: none;

    &:hover {
      color: $color-brand-highlight;
    }
  }

  ul {
    margin-bottom: 16px;
    padding-left: 20px;
  }

  .m-bottom16 {
    margin-bottom: 16px;
  }
}

/* ===============================
   Responsive: Mobile
================================ */

@media (max-width: 768px) {
  .privacy-policy-container {
    padding: 0 16px;
  }

  .privacy-policy-header {
    padding: 48px 0 28px;

    img {
      display: block;
    }
  }

  h1 {
    font-size: 47px;
  }
}

/* ===============================
   Responsive: Small Phones
================================ */

@media (max-width: 374px) {
  h1 {
    font-size: 38px;
  }
}
