// @use '../../../../styles.scss' as *;

// * {
//   font-family: 'Inter', sans-serif; // später raus
// }

// .header {
//   @include dFlex($jc: space-between);
//   height: 96px;
//   padding: 0 40px 0 100px;
//   background-color: white;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

//   position: sticky;
//   top: 0;
//   z-index: 10;
// }

// .header-left {
//   @include dFlex($jc: flex-start, $ai: center, $g: 16px);
// }

// .header-right {
//   @include dFlex($g: 16px);
// }

// .header-logo {
//   display: none;
//   width: 32px;
// }

// .header-title {
//   font-weight: 400;
//   font-size: 20px;
//   line-height: 1.2;
//   color: black;
// }

// .header-help {
//   @include dFlex();
//   cursor: pointer;

//   .header-help-icon {
//     @include dFlex();
//     width: 32px;
//     height: 32px;

//     img {
//       max-width: 100%;
//       max-height: 100%;
//     }
//   }

//   &:hover {
//     .header-help-icon img {
//       content: url('../../../../../public/img/icons/help-hover.svg');
//     }
//   }
// }

// .header-user {
//   @include dFlex();
//   width: 56px;
//   height: 56px;
//   border: 3px $color-brand-primary solid;
//   border-radius: 50%;
//   background-color: white;
//   cursor: pointer;

//   &:hover {
//     background-color: $color-neutral-user-bg;
//   }
// }

// .header-user-initials {
//   font-size: 24px;
//   font-weight: 700;
//   color: $color-brand-highlight;
// }

// /* ===============================
//    RESPONSIVE
// ================================ */

// @media (max-width: 950px) {
//   .header {
//     padding: 0 20px 0 40px;
//   }

//   .header-title {
//     font-size: 18px;
//   }
// }

// @media (max-width: 600px) {
//   .header {
//     height: 80px;
//     padding: 0 20px;
//   }

//   .header-title {
//     display: none;
//   }

//   .header-logo {
//     display: block;
//   }

//   .header-help {
//     display: none;
//   }

//   .header-user {
//     width: 40px;
//     height: 40px;
//     border: 2px $color-brand-primary solid;
//   }

//   .header-user-initials {
//     font-size: 20px;
//   }
// }

@use '../../../../styles.scss' as *;

// * {
//   font-family: 'Inter', sans-serif; // später raus
// }

/* ===============================
   HEADER
================================ */

.header {
    @include dFlex($jc: space-between);
    height: 96px;
    padding: 0 40px 0 100px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

    position: sticky;
    top: 0;
    z-index: 20;
}

.max-width-container {
    @include dFlex($jc: space-between);
    width: 1208px;
}

.header-left {
    @include dFlex($jc: flex-start, $ai: center, $g: 16px);
}

.header-right {
    position: relative;
    @include dFlex($g: 16px);
}

.header-logo {
    display: none;
    width: 32px;
}

.header-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: black;
}

/* ===============================
   HELP ICON
================================ */

.header-help {
    @include dFlex();
    cursor: pointer;

    .header-help-icon {
        @include dFlex();
        width: 32px;
        height: 32px;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &:hover {
        .header-help-icon img {
            content: url('../../../../../public/img/icons/help-hover.svg');
        }
    }
}

/* ===============================
   USER AVATAR
================================ */

.header-user {
    @include dFlex();
    width: 56px;
    height: 56px;
    border: 3px $color-brand-primary solid;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;

    &:hover {
        background-color: $color-neutral-user-bg;
    }
}

.header-user-initials {
    font-size: 24px;
    font-weight: 700;
    color: $color-brand-highlight;
}

/* ===============================
   USER MENU 
================================ */

.user-menu {
    @include dFlex($fd: column, $jc: flex-start, $ai: flex-start);

    position: absolute;
    top: 76px;
    right: -20px;

    background-color: $color-brand-primary;
    width: 150px;
    padding: 16px;

    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1); // Figma: X0 Y0 Blur4 Spread0 Opacity10%
}

.user-menu-item {
    color: $color-neutral-mid;
    font-size: 16px;
    text-decoration: none;
    //   padding: 16px 8px;
    cursor: pointer;

    &:hover {
        color: white; // ja?
        background-color: $color-brand-primary-hover;
    }
}

/* Mobile-only Version von „Help“ */
.mobile-only {
    display: none;
}

/* ===============================
   RESPONSIVE
================================ */

@media (max-width: 950px) {
    .header {
        padding: 0 20px 0 40px;
    }

    .header-title {
        font-size: 18px;
    }

    .user-menu {
        right: -10px;
    }
}

@media (max-width: 600px) {
    .header {
        height: 80px;
        padding: 0 20px;
    }

    .header-title {
        display: none;
    }

    .header-logo {
        display: block;
    }

    .header-help {
        display: none;
    }

    /* User Avatar kleiner */
    .header-user {
        width: 40px;
        height: 40px;
        border: 2px $color-brand-primary solid;
    }

    .header-user-initials {
        font-size: 20px;
    }

    /* Mobile: Help soll im Menü angezeigt werden */
    .mobile-only {
        display: block;
    }

    /* Menü leicht versetzen, damit es nicht zu dicht am Rand klebt */
    .user-menu {
        top: 40px;
        right: -10px;
    }
}