<header class="header">
  <div class="max-width-container">
    <div class="header-left">
      <img class="header-logo" src="img/logo-dark.svg" alt="Join logo" />
      <p class="header-title">Kanban Project Management Tool</p>
    </div>

    <div class="header-right">
      <a routerLink="/help" class="header-help" aria-label="Open help">
        <div class="header-help-icon">
          <img src="img/icons/help.svg" alt="Help" />
        </div>
      </a>

      <button class="header-user" type="button" aria-label="Open user menu" (click)="toggleUserMenu($event)">
        <span class="header-user-initials">{{ userInitials$ | async }}</span>
      </button>

      <div class="user-menu" [class.is-open]="isUserMenuOpen">
        <a routerLink="/help" class="user-menu-item mobile-only" (click)="isUserMenuOpen = false">
          Help
        </a>

        <a routerLink="/legal-notice" class="user-menu-item" (click)="isUserMenuOpen = false">
          Legal Notice
        </a>

        <a routerLink="/privacy-policy" class="user-menu-item" (click)="isUserMenuOpen = false">
          Privacy Policy
        </a>

        <a class="user-menu-item" (click)="logout()">
          Log out
        </a>
      </div>
    </div>
  </div>
</header>