@use '../../../styles.scss' as *;

/* ===============================
   Help Layout
================================ */

.help-container {
  @include dFlex($fd: column, $jc: flex-start, $ai: flex-start);
  padding: 0 56px;
  min-height: calc(100vh - 96px);
  width: 100%;
  max-width: 1208px;
}

.help-header {
  @include dFlex($jc: space-between);
  width: 100%;
  padding: 64px 0 30px;

  img {
    width: 32px;
    height: 32px;
    cursor: pointer;

    &:hover {
      content: url('../../../../public/img/bow-hover.svg');
    }
  }
}

.help-content {
  width: 100%;
  padding-bottom: 80px;

  h2 {
    font-family: 'Inter-Bold';
    font-size: 27px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 16px;
  }

  h3 {
    font-family: 'Inter-Bold';
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
  }

  p {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 16px;
  }

  a {
    color: black;
    text-decoration: none;

    &:hover {
      color: $color-brand-highlight;
    }
  }

  .highlight {
    color: $color-brand-highlight;
  }

  .m-bottom24 {
    margin-bottom: 24px;
  }

  .closing {
    margin-top: 40px;
  }
}

/* ===============================
   Steps (Numbered List)
================================ */

.steps {
  margin: 0;

  p {
    margin-bottom: 0;
  }
}

.steps--numbered {
  list-style: none;
  counter-reset: step;
  padding-left: 0;
}

.steps--numbered > li {
  counter-increment: step;
  position: relative;
  padding-left: 48px;
  margin: 16px 0;
}

.steps--numbered > li::before {
  content: counter(step) '.';
  position: absolute;
  left: 0;
  top: 0;
  font-family: 'Inter-Bold';
  font-size: 27px;
  font-weight: 700;
  line-height: 1.2;
}

/* ===============================
   Responsive: Mobile
================================ */

@media (max-width: 768px) {
  .help-container {
    padding: 0 16px;
  }

  .help-header {
    padding: 48px 0 28px;
  }

  h1 {
    font-size: 47px;
  }
}
