@use '../../../../../styles.scss' as *;

/* ===============================
   MAIN NAVIGATION
================================ */

.navigation {
  width: 100%;
}

.navigation ul {
  @include dFlex($fd: column, $jc: flex-start, $ai: stretch, $g: 4px);
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation li {
  width: 100%;

  a {
    @include dFlex($jc: flex-start, $g: 8px);
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    color: $color-neutral-mid;
    text-decoration: none;
    cursor: pointer;
    padding: 8px 0;
    padding-left: 64px;

    img {
      width: 30px;
      height: 30px;
    }

    &:hover {
      background-color: $color-brand-primary-hover;
      color: white;
    }

    &.active {
      background-color: $color-brand-deep;
      color: white;
    }
  }

  &:nth-child(1) {
    a {

      &:hover img,
      &.active img {
        content: url('../../../../../../public/img/icons/summary-active.svg');
      }
    }
  }

  &:nth-child(2) {
    a {

      &:hover img,
      &.active img {
        content: url('../../../../../../public/img/icons/add_task-active.svg');
      }
    }
  }

  &:nth-child(3) {
    a {

      &:hover img,
      &.active img {
        content: url('../../../../../../public/img/icons/board-active.svg');
      }
    }
  }

  &:nth-child(4) {
    a {

      &:hover img,
      &.active img {
        content: url('../../../../../../public/img/icons/contacts-active.svg');
      }
    }
  }
}

/* ===============================
   RESPONSIVE (BOTTOM NAV)
================================ */

@media (max-width: 1024px) {
  .navigation li a {
    padding-left: 32px;
  }
}

/**
 * @breakpoint 768px - Mobile Navigation Icons
 * Styles for the bottom navigation bar items.
 * - Flex logic changes to row (distributed evenly)
 * - Items become centered icons with text below
 * - Active state changes style (no longer left-border/bg fill in same way)
 */
@media (max-width: 768px) {
  .navigation {
    width: 100%;
  }

  .navigation ul {
    @include dFlex($fd: row, $jc: space-between, $ai: center);
    margin: 0;
    padding: 0 16px;
  }

  .navigation li {
    width: 80px;
  }

  .navigation li a {
    @include dFlex($fd: column, $jc: center, $ai: center, $g: 4px);
    padding: 8px 0;
    width: 80px;
    height: 76px;

    &:hover {
      background-color: $color-brand-primary-hover;
      color: white;
      border-radius: 16px;
    }

    &.active {
      border-radius: 16px;
      background-color: $color-brand-deep;
    }

    img {
      width: 24px;
      height: 24px;
    }
  }
}

@media (max-width: 375px) {
  .navigation ul {
    padding: 0 12px;
  }

  .navigation li a {
    width: 70px;
    font-size: 14px;
  }
}