@use '../../../styles.scss' as *;

:host {
  height: 100vh;
  // display: block;
  // flex: 1;
  // overflow: hidden;
}

.contacts-container {
  display: flex;
  height: 100%;
}

.contacts-list {
  width: 40%;
  padding: 40px;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

.letter-group {
  margin-bottom: 20px;
}

.group-letter {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 6px;
  padding-left: 32px;
  padding-bottom: 24px;
  border-bottom: 1px solid #D1D1D1;
}

.contact-entry {
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 10px 4px;
  border-radius: 6px;
  cursor: pointer;
}

.contact-entry.active {
  background: #2A3647;
  border: 2px solid #2A3647;
  cursor: default;
}

.contact-entry.active:hover {
  background: #2A3647 !important;
}


.contact-entry.active .name {
  color: #fff;
}

.contact-entry:hover {
  background: #f1f1f1;
}

.circle {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #0a73f0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-left: 15px;
  margin-right: 36px;
  font-size: 16px;
  font-weight: 400;
  border: 2px solid #fff;
}

.big {
  width: 120px;
  height: 120px;
  font-size: $h3;
  font-weight: 500;
  border: 4px solid #fff;
}

.contact-detail p {
  margin-bottom: 15px;
}

.contact-info .name {
  font-weight: 400;
}

.contact-info .email {
  font-size: $p;
  font-weight: 400;
  color: #007CEE;
}

.contact-detail {
  flex: 1;
  // padding: 24px; // <- wieso existiert das hier?
  background-color: #F6F7F8;
  padding: 60px 60px;
  box-shadow:
    inset 4px 0 8px rgba(0, 0, 0, 0.12),
    inset 0 4px 8px rgba(0, 0, 0, 0.12);
}

.contact-detail h2 {
  font-size: $h1;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 80px;
}

.contact-detail h3 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 40px;
}

.divider {
  width: 3px;
  height: 59px;
  background: #29ABE2;
  border-radius: 2px;
  margin: 0 15px;
}

.contact-detail .sub {
  font-size: 27px;
  font-weight: 400;
  color: #2A3547;
}

.detail-header {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.detail-main .name {
  font-size: $h3;
  font-weight: 500;
}

.actions {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  color: #2A3647;
  margin-top: 4px;
  cursor: pointer;
}

.action-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  background: transparent;
  border: none;
  color: #2A3647;
  cursor: pointer;
  font-size: 16px;

  transition: color 0.2s ease;
}

.actions .action-icon {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(0);
  transition: filter 0.2s ease;
}

.action-btn:hover {
  color: #007CEE;
}

.action-btn:hover .action-icon {
  filter: brightness(0) saturate(100%) invert(41%) sepia(83%) saturate(1591%) hue-rotate(182deg) brightness(95%) contrast(101%);
}

.label {
  font-size: 16px;
  font-weight: 700;
  color: black;
  margin-top: 20px;
  margin-bottom: 4px;
}

.email-detail {
  color: #007CEE;
  font-weight: 400;
}

.add-contact-btn {
  width: 100%;
  padding: 15px 0;
  margin-bottom: 20px;
  background: #2A3647;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 21px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
}

.add-contact-btn:hover {
  background: #007CEE;
}

.add-contact-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  /* Abstand zwischen Text & Icon */
}

.add-contact-btn .icon {
  width: 20px;
  height: 20px;
}