/* ============================================
   MIXINS
============================================ */

@mixin dFlex($fd: row, $jc: center, $ai: center, $g: 0px) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
}