:host {
    height: 100vh;
    display: flex;
    background-color: #F6F7F8; // <- nur relevant, solange wir die Preview Bilder verwenden
}

.layout-container {
    display: flex;
    flex-direction: column;
    flex: 1; // <- Essenziell für die volle Breite
    height: 100vh;
    overflow: hidden;

    app-header {
        flex-shrink: 0;
    }
}